body{
    background-image:url(showcase.jpg);
    background-size: cover;
    background-position: center ;
}

h1{
    background-color: #333333;
    padding:6px;
    margin:0;
    width:100%;
    position:fixed;
    top:0px;
    left:0px
}
h1 span{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    left: 20px;
    margin-inline-start:300px;
    font-size: 25px;
}
.head{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 5;
}
.head a[href="webpage1.html"]{
    text-decoration: none;
    color: white;
    font-size: 14px;
    position: relative;
    left: 70%;
    top: 6px;
}

.head a[href="ayoutube.com/watch?v=mbeT8mpmtHA"]{
    text-decoration: none;
    color: white;
    font-size: 14px;
    position: relative;
    left: 73%;
    top: 6px;
}

.head a[href="webpage3.html"]{
    text-decoration: none;
    color: #f4f4f4;
    font-size: 14px;
    position: relative;
    left: 76%;
    top: 6px;
}
 section p{
     color:#f4f4f4;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 32px;
     padding-left: 40%;

     
 }
 .s0{
    color: #f7be8a;
 }
 .s9{
    color: white;
    font-size: 14px;
    padding-left: 28%;
    font-weight: normal;
    width: 600px;
    text-align: center;
 }
 .button{
    color: white;
    background:#333333;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 120px;
    margin-left: 45.9%;

}
.image{
    margin-top: 120px;
    width: 50%;

}
.s8{
    color: #f4f4f4;
    font-size: 14px;

    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed; */
    font-weight: normal;
    text-align: center;
    width: 140px;
    background: #333333;
    margin-left: 50%;
    padding-top: 220px;
    padding-bottom: 200px;
    position: relative;
    top:-459.8px;

    

}
.s8 span{
    color: #f4f4f4;
    font-size: 17.5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
.s1{
    float: left;
    text-align: center;
    padding: 15px;
    width:30%;
    font-size: 15px;
    background-color: #f4f4f4;;
}

.s1 img{
    width: 70px;
}

.s1 h3{
    padding-bottom: 10px;
    padding-top: 5px;
}
.background{
    background-color: #F7C08A;
}